{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false
            }
        ],
        [
            "@babel/preset-typescript",
            {
                "allExtensions": true
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties"
        ],
        [
            "@babel/plugin-transform-runtime"
        ]
    ]
}
