//默认主题
$color-ming:#fff;
$size-ming: 14px;
$bg-ming: #304156;
$active-theme:rgb(77, 188, 255);
//背景颜色
$bg-ming-theme1: #304156;//主题1（默认）
$bg-ming-theme2: #2d94fc;//主题2
$bg-ming-theme3: #A16BFE;//主题3
$bg-ming-theme4: #121317;//主题4
$bg-ming-theme5: #F5CCF6;//主题5
//字体颜色
$font-color-ming-theme1:#fff;
$font-color-ming-theme2:#fff;
$font-color-ming-theme3:rgb(247, 183, 101);
$font-color-ming-theme4:rgb(157, 252, 244);
$font-color-ming-theme5:#fff;

//左边导航栏选中的字体颜色（独立设置）
$active-theme1:rgb(77, 188, 255);
$active-theme2:rgb(100, 248, 32);
$active-theme3:rgb(32, 248, 219);
$active-theme4:rgb(68, 165, 255);
$active-theme5:rgb(248, 32, 194);

 